.p-Home.TextBox5,
.p-Home.TextBox10,
.p-Home.TextBox18,
.p-Home.TextBox21,
.p-Home.TextBox24,
.p-Home.TextBox28,
.p-Home.TextBox32,
.p-Home.TextBox56,
.p-Home.TextBox90,
.p-Home.TextBox98,
.p-Home.TextBox143 {
  background: #b16cea;
  background: linear-gradient(to right, #b16cea 0%, #ff6267 50%, #ffa84b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-Home.Button1,
.p-Home.Button3 {
  box-shadow: 5px 10px #ff6267;
}

a {
  text-decoration: none;
  color: black;
}

.p-Home.Div5,
.p-Home.Div6,
.p-Home.Div7,
.p-Home.Div8,
.p-Home.Div9 {
  height: 1px;
  width: 725px;
  background-color: #272727;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-Home.Div18,
.p-Home.Div31,
.p-Home.Div32,
.p-Home.Div33,
.p-Home.Div34,
.p-Home.Div26,
.p-Home.Div27,
.p-Home.Div28 {
  height: 1px;
  width: 600px;
  background-color: #272727;
  margin-top: 64px;
  margin-bottom: 10px;
}

.p-Home.Div12,
.p-Home.Div13,
.p-Home.Div14,
.p-Home.Div15,
.p-Home.Div16,
.p-Home.Div17 {
  height: 1px;
  width: 600px;
  background-color: #e5e5e5;
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-Home.Image45 {
  -webkit-filter: grayscale(100%);
}
